.preview a.label.epic {
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

.picker { width: 200px; height: 200px }
.slide { width: 30px; height: 200px }

.color-picker {
  position: absolute;
  background: gray;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}