.preview a.label.epic {
  border-radius: 20px;
  color: white;
  margin: 0 2px;
  padding: 1px 6px 1px 6px;
  white-space: nowrap;
}

/*.labels_maker .selected.labels li a.label.blocked,*/
/*.labels_maker .selected.labels li a.label.blocked + a.remove {*/
  /*background-color: hsl(245, 69%, 46%);*/
/*}*/

/*.labels_maker .selected.labels li a.label.blocked:hover,*/
/*.labels_maker .selected.labels li a.label.blocked + a.remove:hover {*/
  /*background-color: hsl(245, 69%, 32%);*/
/*}*/